{% trans_default_domain 'FOSUserBundle' %}

<div class="page-header  text-center">
  <h1><strong>Mon profil</strong></h1>
</div>

<div class="fos_user_user_show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{{ 'profile.show.username'|trans }}:</strong> </h3>
    </div>
    <div class="panel-body">
      {{ user.username }}
    </div>
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{{ 'profile.show.email'|trans }}: </strong></h3>
    </div>
    <div class="panel-body">
      {{ user.email }}
    </div>

    <div class="panel-heading">
      <h3 class="panel-title"><strong>Age :</strong> </h3>
    </div>
    <div class="panel-body">
      {{ user.age }}
    </div>

    <div class="panel-heading">
      <h3 class="panel-title"><strong>Famille :</strong> </h3>
    </div>
    <div class="panel-body">
      {{ user.family }}
    </div>

  <div class=" text-center">
      <a href="{{path('fos_user_profile_edit')}}" class="btn btn-success btn-lg">Modifier mes informations</a>
  </div>
</div>
